.title{
    font-size: xx-large;
    padding: auto;
    margin: auto;
    margin-left: 30px;
    text-align:start;
}


        


.blog-card{
    background: fixed;
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0 10px 10px hsla(0,0%,0%,.05);
    transition: .25s ease;
    margin-left: 5px;
    margin-right: 5px;

    
}
    
.blog-card:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 10px hsla(0,0%,0%,.1)
}

.blog-topic{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    color: black;
    margin: auto;
    display: inline-block;
}

.blog-topic:hover{
    background-color: blue;
}

.personal-info{
    grid-area: t;
    background-color:cornflowerblue;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    height: 90%;
}

.personal-info:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 10px hsla(0,0%,0%,.1)
}

.footer-copy-rights{
    text-align: center;
    font-weight: bold;
    width: 100%;
}

footer {
    display: flexbox;
    flex-direction: column;
    text-align: center;
    padding: 3px;
    background-color:darkslategray;
    color: white;
  }